@font-face {
    font-family: 'YaFont'; /* Name of the font */
    src: url('../public/YandexFont.ttf') format('truetype'); /* Path to the TTF file */
    font-weight: normal; /* You can specify the weight */
    font-style: normal; /* You can specify the style */
}


.AdvertisementCreateForm
{
    width: 800px;
    max-width: 95%;
    /* height: 800px; */
    background-color: whitesmoke;
    box-shadow: 20px 20px 25px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: 'YaFont';

    border-style: solid;
    border-width: 2px;
    border-color: rgb(9, 112, 86);;
    /* justify-content: center; */
    /* align-content: center; */
}

#advertisement-create-form-header
{
    margin-top: 40px;
}

.AdvertisementCreateForm > label
{
    margin-top: 20px;
}

#advertisement-create-form-type
{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#advertisement-create-form-switch
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 250px;
    height: 30px;
    background-color: rgb(204, 204, 204);
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(9, 112, 86);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#advertisement-create-form-switch > li
{
    margin: auto 0 auto 0;
    width: 50%;
    height: 30px;
}

#advertisement-create-form-kind
{
    width: 250px;
    height: 30px;
    border-style: solid;
    border-radius: 15px;
    border-color: rgb(9, 112, 86);
    border-width: 2px;
    margin: 20px auto 0 auto;
    background-color: whitesmoke;
    font-family: 'YaFont';
}

#advertisement-create-form-title
{
    width: 75%;
    height: 50px;
    margin: 20px auto 0 auto;
    border-style: solid;
    border-radius: 15px;
    border-color: rgb(9, 112, 86);
    border-width: 2px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'YaFont';
    font-size: 20px;
}

#advertisement-create-form-description
{
    width: 75%;
    height: 300px;
    margin: 20px auto 0 auto;
    resize: none;
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(9, 112, 86);
    border-width: 2px;
    padding: 10px;
    font-family: 'YaFont';
    font-size: 16px;
}

#advertisement-create-form-uploaded-photos
{
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto 0 auto;
    background-image: linear-gradient(180deg, rgb(224, 224, 224), rgb(131, 131, 131));
    border-radius: 15px;
    padding: 10px;
    min-width: 55%;
    max-width: 75%;
    min-height: 50px;
    justify-content: center;
}

#advertisement-create-form-photo-buttons
{
    margin: 10px auto 10px auto;
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#advertisement-create-form-photo-buttons > button
{
    margin: auto 0 auto 0;
    min-width: 125px;
    width: 40%;
    height: 30px;
    border-style: none;
    border-radius: 15px;
}

#advertisement-create-form-upload-photo
{
    background-image: linear-gradient(45deg, rgb(8, 95, 73), rgb(36, 201, 160));
    font-family: 'YaFont';
    color: white;
    cursor: pointer;
}

#advertisement-create-form-upload-photo:hover
{
    animation: hoverGradient 0.2s forwards;
}

#advertisement-create-form-upload-photo:active
{
    background-image: none;
    background-color: rgb(16, 175, 135);
}

#advertisement-create-form-remove-all-photos-button
{
    cursor: pointer;
    background-color: rgb(136, 136, 136);
    font-family: 'YaFont';
}

#advertisement-create-form-remove-all-photos-button:hover
{
    background-color: rgb(112, 112, 112);
}

#advertisement-create-form-remove-all-photos-button:active
{
    background-color: rgb(202, 202, 202);
}

#advertisement-create-form-free-space
{
    height: 50px;
}

#advertisement-create-form-adv-buttons
{
    width: 65%;
    margin: 20px auto 0 auto;
}

#advertisement-create-form-adv-buttons > button
{
    width: 90%;
    height: 30px;
    border-radius: 15px;
    border-style: none;
    font-family: 'YaFont';
}

#advertisement-create-form-save
{
    background-image: linear-gradient(45deg, rgb(8, 95, 73), rgb(36, 201, 160));
    color: whitesmoke;
    cursor: pointer;
}

#advertisement-create-form-save:hover
{
    animation: hoverGradient 0.2s forwards;
}

#advertisement-create-form-save:active
{
    background-image: none;
    background-color: rgb(16, 175, 135);
}

#advertisement-create-form-remove-adv
{
    background-color: rgb(136, 136, 136);
    cursor: pointer;
}

#advertisement-create-form-remove-adv:hover
{
    background-color: rgb(112, 112, 112);
}

#advertisement-create-form-remove-adv:active
{
    background-color: rgb(202, 202, 202);
}

@keyframes hoverGradient {
    0% {
        background-image: linear-gradient(45deg, rgb(8, 95, 73), rgb(36, 201, 160));
    }
    100% {
        background-image: linear-gradient(45deg, rgb(40, 180, 145), rgb(12, 77, 60));
    }
}

.animate
{
    animation: makeTransparent 1s forwards;
}

@media (max-width: 600px)
{
    .AdvertisementCreateForm
    {
        width: 95%;
    }

    #advertisement-create-form-switch
    {
        width: 75%;
    }

    #advertisement-create-form-kind
    {
        width: 75%;
    }

    #advertisement-create-form-photo-buttons
    {
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    #advertisement-create-form-photo-buttons > button
    {
        margin: 5px auto 5px auto;
        width: 80%;
        height: 30px;
        border-style: none;
        border-radius: 15px;
    }

    #advertisement-create-form-adv-buttons
    {
        width: 85%;
    }

    #advertisement-create-form-adv-buttons > button
    {
        width: 80%;
    }
}