@font-face {
    font-family: 'YaFont'; /* Name of the font */
    src: url('./YandexFont.ttf') format('truetype'); /* Path to the TTF file */
    font-weight: normal; /* You can specify the weight */
    font-style: normal; /* You can specify the style */
}

.FilterPage
{
    width: 800px;
    max-width: 95%;
    background-color: white;
    box-shadow: 20px 20px 25px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: 'YaFont';
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

#filter-page-toolbar
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 100px;
    margin: 0 auto 0 auto;
}

#filter-page-filter-button
{
    width: 100px;
    height: 56px;
    margin: auto 10px auto 10px;
    border-radius: 15px;
    border-style: none;
    background-image: linear-gradient(200deg, rgb(116, 116, 116), rgb(0, 0, 0));
    color: white;
    cursor: pointer;
}

#filter-page-filter-button:hover
{
    background-image: linear-gradient(20deg, rgb(116, 116, 116), rgb(0, 0, 0));
}

#filter-page-filter-button:active
{
    background-image: linear-gradient(20deg, rgb(124, 118, 118), rgb(24, 19, 19));
}

#filter-page-search
{
    height: 50px;
    width: 80%;
    margin: auto 0 auto 0;
    border-radius: 15px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    padding-left: 30px;
    font-family: 'YaFont';
    font-size: 16px;
    font-weight: bold;
    color: black;
}

#filter-page-search-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
}

#filter-page-search-button
{
    height: 56px;
    min-width: 56px;
    max-width: 56px;
    margin: auto 10px auto 10px;
    background-image: linear-gradient(200deg, rgb(116, 116, 116), rgb(0, 0, 0));
    border-style: none;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

#filter-page-search-button:hover
{
    background-image: linear-gradient(200deg, rgb(0, 0, 0), rgb(116, 116, 116));
}

#filter-page-search-button:active
{
    background-image: linear-gradient(200deg, rgb(0, 0, 0), rgb(116, 95, 95));
}

#filter-page-search-button > div
{
    margin: auto;
    width: 50%;
    height: 50%;
    background-image: url('./loupe.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#filter-page-search::placeholder
{
    font-family: 'YaFont';
    font-size: 16px;
    font-weight: bold;
    color: black;
}

#filter-page-advs
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

#filter-page-filter-menu
{
    position: absolute;
    top: 300px;
    background-color: white;
    width: 300px;
    border-radius: 15px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    box-shadow: 20px 20px 15px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}

#filter-page-filter-menu > label
{
    margin-top: 10px;
}

#filter-page-filter-menu-type-container
{
    width: 75%;
    height: 30px;
    margin: 10px auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#filter-page-filter-menu-type-container > div
{
    background-color: whitesmoke;
    width: 35%;
    height: 80%;
    border-radius: 15px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    align-content: center;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

#filter-page-filter-menu-kind-container
{
    width: 75%;
    height: 40px;
    margin: 10px auto 0 auto;
    display: flex;
}

#filter-page-filter-menu-kind
{
    width: 85%;
    height: 70%;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 15px;
    margin: auto;
}

#filter-page-filter-menu-filter-button
{
    width: 63%;
    height: 30px;
    border-radius: 15px;
    border-style: none;
    background-color: black;
    color: white;
    cursor: pointer;
}

#filter-page-filter-menu-filter-button:hover
{
    background-color: rgb(22, 22, 22);
}

#filter-page-filter-menu-filter-button:active
{
    background-color: rgb(55, 55, 55);
}

@media (max-width: 600px)
{
    #filter-page-filter-menu
    {
        width: 94%;
    }
}