@font-face {
    font-family: 'YaFont'; /* Name of the font */
    src: url('./YandexFont.ttf') format('truetype'); /* Path to the TTF file */
    font-weight: normal; /* You can specify the weight */
    font-style: normal; /* You can specify the style */
}


.GetAdvertisement {
    width: 800px;
    max-width: 95%;
    background-color: whitesmoke;
    box-shadow: 20px 20px 25px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: 'YaFont';
    border-style: solid;
    border-width: 3px;
    border-color: rgb(0, 0, 0);
    position: relative;
}

#get-advertisement-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Изменено на align-items для центрирования по горизонтали */
}

#get-advertisement-photos {
    width: 75%; /* Убедитесь, что контейнер слайдера занимает всю ширину родителя */
    display: flex;
    flex-direction: column;
}

#get-advertisement-photos img:focus{
    border-style: none;
}

.slick-prev:before,
.slick-next:before {
  background-color: black; /* Change this to your desired color */
  border-radius: 100%;
  padding: 1px;
}


.get-advertisement-slider-image {
    width: 100px; /* Изображение занимает всю ширину контейнера */
    height: 100px; /* Высота автоматически подстраивается */
    display: block; /* Убирает пробелы под изображением */
}

#get-advertisement-description
{
    text-align: left;
    margin-top: 50px;
    padding: 15px;
    padding-left: 5%;
    padding-right: 5%;
    width: 65%;
    background-color: rgb(216, 216, 216);
    border-radius: 15px;
}

#get-advertisement-back-button
{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 20px;
    left: 20px;
    background-image: url('./back-arrow.svg');
    background-size: 80% 80%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100%;
    cursor: pointer;
}

#get-advertisement-back-button:hover
{
    background-color: rgb(207, 207, 207);
}

#get-advertisement-back-button:active
{
    background-color: rgb(146, 146, 146);
}

#get-advertisement-connect-button
{
    background-color: black;
    border-style: none;
    color: white;
    border-radius: 15px;
    height: 35px;
    cursor: pointer;
}

#get-advertisement-connect-button:hover
{
    background-color: rgb(20, 20, 20);
}